<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE_C dev</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/utilities.css" />
    <link rel="stylesheet" href="./css/all.css" />
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="container flex">
        <a href="#" class="nav-brand"><i class="fas fa-code"></i> CSE_DEV</a>
        <ul>
          <li>
            <a href="#"><i class="fas fa-flag"></i> Events</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-info"></i> About</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-plus"></i> Register</a>
          </li>
          <li>
            <a href="./login.html"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- showcase -->
    <div class="show-case">
      <div class="container flex">
        <div class="show-case-text">
          <h1>Welcome to CSE_DEV</h1>
          <h3>Develop your Development skill with us and get certificate</h3>
          <a href="#" class="btn btn-dark my-1">Get involved</a>
        </div>
      </div>
    </div>

    <!-- Events -->
    <div class="event-case">
      <div class="container">
        <div class="card event-bx"></div>
      </div>
    </div>

    <div class="footer">
      <div class="container grid grid-3">
        <div>
          <h2 class="my-1">CSE_DEV</h2>
          <span>2020 &copy; Copyright reserved</span>
        </div>
        <div>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Privacy & policy</a></li>
          </ul>
        </div>
        <ul class="flex">
          <li>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-telegram fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
