<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE_C dev</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/utilities.css" />
    <link rel="stylesheet" href="./css/all.css" />
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="container flex">
        <a href="./index.html" class="nav-brand"
          ><i class="fas fa-code"></i> CSE_DEV</a
        >
        <ul>
          <li>
            <a href="#"><i class="fas fa-flag"></i> Events</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-info"></i> About</a>
          </li>
          <li class="">
            <a href="#"> <i class="fas fa-sign-out-alt"></i> Logout </a>
          </li>
          <li>
            <a href="#"> <i class="fas fa-user"></i> Bini </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- listgroup -->
    <section class="profile my-3">
      <div class="container">
        <div class="list-group">
          <span class="list-group-title"
            ><i class="fas fa-user"></i>Profile Information</span
          >
          <div class="list-group-body grid">
            <div class="profile-image">
              <img src="./images/img_avatar3.png" alt="bini" />
            </div>
            <div class="profile-info">
              <span><strong>First Name</strong> - Biniyam</span>
              <span><strong>Last Name</strong> - Moges</span>
              <span><strong>Email</strong> - biniyam@gmail.com</span>
              <span><strong>Id</strong> - Ugr/16897/11</span>
              <span><strong>Year</strong> - 3</span>
              <span><strong>Sex</strong> - Male</span>
              <span><strong>Joined At</strong> - 2015</span>
              <a href="./updateProfile.html" class="btn btn-dark"
                ><i class="fas fa-edit"></i> Edit profile</a
              >
              <a href="./uploadPhoto.html" class="btn btn-dark"
              ><i class="fas fa-camera"></i> Upload photo</a
            >
          </div>
        </div>
      </div>
    </section>

    <div class="footer">
      <div class="container grid grid-3">
        <div>
          <h2 class="my-1">CSE_DEV</h2>
          <span>2020 &copy; Copyright reserved</span>
        </div>
        <div>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Privacy & policy</a></li>
          </ul>
        </div>
        <ul class="flex">
          <li>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-telegram fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
